[user]
	name = jinqiang zhang
	email = peeweep@0x0.ee
	signingkey = peeweep@0x0.ee
[credential]
	helper = store
[core]
	editor = nvim
	excludesfile = ~/.gitignore
	mergeoptions = --no-edit
[alias]
	commitutc = !git commit -s --date=\"$(date -u +%Y-%m-%dT%H:%M:%S%z)\"
[push]
	followTags = false
	default = current
[pull]
	ff = only
[gitreview]
	remote = origin
[color]
	ui = auto
[remote "origin"]
	prune = true
[init]
	defaultBranch = master
[commit]
	gpgsign = true
[gpg]
	program = gpg
