[user]
	name = zhangjinqiang
	email = zhangjinqiang@uniontech.com
[credential]
	helper = store
[core]
	editor = nvim
	excludesfile = ~/.gitignore
[alias]
	commitutc = !git commit --date=\"$(date --utc +%Y-%m-%dT%H:%M:%S%z)\"
[push]
	followTags = true
	default = current
[pull]
	ff = only
